@font-face {
  font-family: 'JetBrains Mono';
  src: url('./assets/fonts/JetBrainsMono-2.304/fonts/webfonts/JetBrainsMono-Bold.woff2') format('woff2');
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url('./assets/PSSbackground.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  font-family: 'JetBrains Mono', monospace;
}